<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
  <div class="container">
    <hr>
    <div class="card">
      <div class="card-header">
        <h2>Descrever tipo de produto</h2>
      </div>
      <div class="card-body">
        <form method="POST" action="/descprodutos/save">
          <input class="form-control" type="text" name="tipo_product" placeholder="Defina o nome do tipo de produto."><br>
          <label>Produto</label>
          <select name="produtos" class="form-control">
            <% produto.forEach((produtos) => { %>
              <option value="<%= produtos.id %>"><%= produtos.nome_tipo_produto %></option>
            <% }) %>
          </select>
          <br>
          <button class="btn btn-success">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
<%- include('../../partials/footer.ejs') %>
